.slick-slider {
    box-sizing: border-box ;
    position: relative
 }

 .slick-image-galeria{
    height: auto!important; 
    width: auto !important;
 }

 .slick-dots{
    position: absolute;
    bottom: 5%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slick-dots li button{
    min-height: 20px;
    position: inherit;
    padding: 0;
    margin: 0;

}